<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Loading board... - staticBoard</title>

    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fontawesome/css/regular.min.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.18/paper-full.min.js" integrity="sha512-qaPSGmKTwpu5ChwJ6AD3w7ecS3yM7pFC1cS3IfnjPM67dhXoymEomk1wqiZEHUFO4dQO1bhjo8LYImVDSDfR1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/board/canvas.js" type="module"></script>
</head>
<body>
    <span id="currentLayer">
        1
    </span>
    <div id="container">
        <canvas id="board"></canvas>
    </div>
    <div id="tools">
        <table class="table" id="toolsTable">
            <tbody>
                <tr>
                    <td>
                        <button id="previous">
                            <i class="fa-solid fa-angle-left fa-2x"></i>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="pen">
                            <i class="fa-solid fa-pen fa-2x"></i>
                        </button>
                    </td>
                    <td>
                        <button id="line">
                            <i class="fa-solid fa-slash fa-2x"></i>
                        </button>
                    </td>
                    <td>
                        <button id="rect">
                            <i class="fa-regular fa-square fa-2x"></i>
                        </button>
                    </td>
                    <td>
                        <button id="circle">
                            <i class="fa-regular fa-circle fa-2x"></i>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="eraser">
                            <i class="fa-solid fa-eraser fa-2x"></i>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="color">
                            <i class="fa-solid fa-droplet fa-2x"></i>
                        </button>
                    </td>
                    <td>
                        <button id="thickness">
                            <i class="fa-solid fa-left-right fa-2x"></i>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="share">
                            <i class="fa-solid fa-share-from-square fa-2x"></i>
                        </button>
                    </td>
                    <td>
                        <button id="save">
                            <i class="fa-solid fa-floppy-disk fa-2x"></i>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="next">
                            <i class="fa-solid fa-angle-right fa-2x"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <progress class="progress is-large is-primary" id="progressBar" max="100"></progress>

    <script type="module" src="/js/board/board.js"></script>
</body>
</html>