@import "imports.css";

:root {
    --n-white: rgba(255, 255, 255, 0.815);
}

body, html {
    height: 100%;
}

#board {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--n-white);
    box-shadow: var(--n-white) 0px 0px 1vw;
    z-index: 1;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
}

#tools {
    transform: translateY(-100%);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: var(--bulma-body-color) transparent;
    scrollbar-width: thin;
    visibility: hidden;
}

#toolsTable {
    margin: auto;
}

progress {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#currentLayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-size: 5rem;
    opacity: 75%;
    color: var(--bulma-grey-dark);
    pointer-events: none;
}

td {
    border-style: solid;
    border-width: 10px;
    border-color: "white";
}

#closeColor {
    margin-top: 10px;
}

.color {
    margin-left: 5px;
}

#defaultColors {
    display: flex;
    justify-content: center;
}

.slideContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider, .color, #thickness {
    position: relative;
}

.slider {
    appearance: none;
    background: var(--bulma-scheme-main);
    border-radius: var(--bulma-radius-rounded);
    margin-left: 5px;
}

#thickness {
    color: white;
}

#readersList {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: var(--bulma-body-color) transparent;
    scrollbar-width: thin;
    max-height: 30vh;
    max-width: fit-content;
    position: relative;
    margin-bottom: 10px;
    margin: auto;
}

.modalBtn {
    margin-top: 10px;
}

#connected {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-125%, 25%);
    visibility: hidden;
}

#home {
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(25%, 25%);
    cursor: pointer;
}