@import "imports.css";

body, html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #3a1376, #ff5724);
}

.swiper {
    top: calc(50% - 96px);
    transform: translateY(-50%);
}

.centerVertical, #avatarContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}

.centerVertical {
    margin-right: 10px;
}

.card {
    border-style: solid;
    border-color: hsla(var(--bulma-shadow-h),var(--bulma-shadow-s),var(--bulma-shadow-l),0.1);
    background-color: transparent;
    margin: 10px;
}

.card-content, .subtitle {
    color: white;
}

.box {
    width: fit-content;
    height: 96px;
    --bulma-box-radius: var(--bulma-radius-rounded);
    display: flex;
    margin: 10px;
}

#boxContainer {
    height: fit-content;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: right;
    align-items: right;
}

.buttons {
    margin-top: 10px;
}

.dropdown-menu {
    margin-top: 10px;
}

progress {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#create, #avatar {
    cursor: pointer;
}

.swiper-scrollbar {
    max-width: 50%;
    color: white;
}

.swiper-button-prev, .swiper-button-next {
    text-shadow: 0 0 0.4rem #C8C8C8;
    color: white;
}

.box {
    background-color: transparent;
}

#progressBar {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(124, 29, 248) 30%, transparent 30%);
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

@keyframes rotateHue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}