@import "imports.css";

body, html, #main {
    width: 100%;
    height: 100%;
}

body {
  background: linear-gradient(180deg, #3a1376, #ff5724);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appTitle {
    font-size: 12vw;
    font-family: "Liquidrom";
    text-shadow: 0 0 0.4rem #C8C8C8;
    color: white;
}

#oauth2 {
    margin-top: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    transform: skew(-12.5deg);
    color: white;
    box-shadow: 0 0 0.4rem #C8C8C8;
    font-family: "Liquidrom";
}